<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>RealLifeRPG Launcher</title>

    <!-- config -->
    <script src="config.js"></script>

    <!-- angular -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- functions -->
    <script src="resources/functions.js"></script>

    <!-- tether -->
    <link href="node_modules/tether/dist/css/tether.min.css" rel="stylesheet">
    <script src="node_modules/tether/dist/js/tether.min.js"></script>
    <script src="node_modules/tether/dist/js/tether.min.js"></script>

    <!-- jquery -->
    <script type="text/javascript">
        window.$ = window.jQuery = require('./resources/jquery/jquery-1.12.3.min.js');
    </script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- fa icons-->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

    <!-- smoothiecharts -->
    <script src="node_modules/smoothie/smoothie.js"></script>

    <!-- chartjs -->
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>

    <!-- alertify -->
    <script src="node_modules/alertify/lib/alertify.min.js"></script>
    <!-- include the core styles -->
    <link rel="stylesheet" href="resources/css/alertify.core.css"/>
    <!-- include a theme, can be included into the core instead of 2 separate files -->
    <link rel="stylesheet" href="resources/css/alertify.cosmo.css"/>

    <!-- perfect-scrollbar -->
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">

    <!-- custom css/js -->
    <link rel="stylesheet" href="resources/css/custom.css">

    <script type="text/javascript" src="scripts/index.js"></script>
</head>
<body>
<div style="height: 100%;background-color: #222222;" ng-show="!AppLoaded"></div>
<div id="app" ng-show="AppLoaded">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://realliferpg.de/">ReallifeRPG Launcher</a>
            </div>

            <div ng-controller="navbarController" class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="tab in tabs" ng-class={'active':(slide==$index)}>
                        <a ng-click="switchSlide(tab)"><span class="{{tab.icon}}"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="downloading && downSpeed > 0">
                        <a><i class="fa fa-download" aria-hidden="true"></i> {{downSpeed}} Mb/s</a>
                    </li>
                    <li ng-show="downloading && upSpeed > 0">
                        <a><i class="fa fa-upload" aria-hidden="true"></i> {{upSpeed}} Mb/s</a>
                    </li>
                    <li>
                        <a ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content" style="height: 100%" ng-cloak>
        <div id="carousel-main" class="carousel slide" data-ride="carousel" style="height: 100%" data-interval="false">
            <br>
            <br>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div id="mods">
                        <div class="container">
                            <div ng-controller="modController" data-ng-init="init()">
                                <h3>ReallifeRPG Mods</h3>
                                <hr>
                                <div class="page">
                                    <div class="row">
                                        <div class="col-lg-8" ng-show="loading">
                                            <div style="text-align: center">
                                                <img src="resources/loading/cube.svg"/>
                                            </div>
                                        </div>
                                        <div id="modScroll" class="col-lg-8" style="position: relative"  ng-show="!loading">
                                            <div class="row">
                                                <div class="col-md-6" ng-repeat="mod in mods">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-body" style="text-align: center">
                                                            <img src="{{mod.ImageUrl}}" width="320px">
                                                            <hr>
                                                            <h4>{{mod.Name}}</h4>
                                                            <hr>
                                                            <div class="btn-group btn-group-sm">
                                                                <button class="btn btn-success" ng-click="action(mod)" ng-disabled="downloading || mod.state[0] == 0">{{mod.state[1]}}</button>
                                                                <button class="btn btn-warning" ng-show="mod.state[0] !== 0" ng-click="initHash(mod)" ng-disabled="downloading">Prüfen</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="list-group list-group-unbordered margin-none">
                                                <li class="list-group-item">
                                                    <b>Status</b> <a class="pull-right">{{state}}</a>
                                                </li>
                                                <li class="list-group-item" ng-if="speed > 0">
                                                    <b>Geschwindigkeit</b> <a class="pull-right">{{speed}} Mb/s</a>
                                                </li>
                                                <li class="list-group-item" ng-if="progress != null">
                                                    <b>Fortschritt</b> <a class="pull-right">{{progress}} %</a>
                                                </li>
                                                <li class="list-group-item" ng-if="size > 0">
                                                    <b>Heruntergeladen</b> <a class="pull-right">{{downloaded}} GB/{{size}} GB</a>
                                                </li>
                                                <li class="list-group-item" ng-if="eta !== ''">
                                                    <b>Verbleibend</b> <a class="pull-right">{{eta}}</a>
                                                </li>
                                                <li class="list-group-item" ng-if="maxConns > 0">
                                                    <b>Peers</b> <a class="pull-right">{{peers}}/{{maxConns}}</a>
                                                </li>
                                                <li class="list-group-item" ng-if="fileSpeed > 0">
                                                    <b>Datei</b> <a class="pull-right">{{fileSpeed}} Mb/s</a>
                                                </li>
                                                <li class="list-group-item" ng-if="fileName !== ''">
                                                    <b>Dateiname</b> <a class="pull-right">{{fileName}}</a>
                                                </li>
                                                <li class="list-group-item" ng-if="fileProgress > 0">
                                                    <div class="progress progress-striped active" style="margin-bottom: 0">
                                                        <div class="progress-bar progress-bar-success" style="width: {{fileProgress}}%"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button class="btn btn-danger pull-right btn-sm" style="margin-top: 10px" ng-if="downloading" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Abbrechen</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="smoothie-chart" width="1140" height="70"></canvas>
                                            <hr>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar" style="width: {{progress}}%"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="servers">
                        <div class="container">
                            <div class="row" ng-controller="serverController" data-ng-init="init()">
                                <h3>ReallifeRPG Server</h3>
                                <hr>
                                <div class="page">
                                    <div style="text-align: center" ng-show="loading">
                                        <img src="resources/loading/cube.svg"/>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li  ng-class={active:(0==$index)} class="serverTab" id="serverTab{{server.Id}}" ng-repeat="server in servers">
                                            <a ng-click="showTab(server.Id)">{{server.Servername}} <span class="label label-success">{{server.Playercount}}/{{server.Slots}}</span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div  ng-class={active:(0==$index)} id="serverPane{{server.Id}}" class="tab-pane fade in serverPane" ng-repeat="server in servers">
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <canvas id="serverChart{{server.Id}}" width="387" height="387"></canvas>
                                                </div>
                                                <div class="col-md-4">
                                                    <h5>Spieler <span class="pull-right">{{server.Playercount}}/{{server.Slots}}</span></h5>
                                                    <ul id="playerScroll{{server.Id}}" class="list-group list-group-unbordered margin-none" style="height: 350px;position: relative;">
                                                        <li class="list-group-item" ng-repeat="player in server.Players">
                                                            <b>{{player}}</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <h5>Daten</h5>
                                                    <ul class="list-group list-group-unbordered margin-none">
                                                        <li class="list-group-item">
                                                            <b>Zivilisten</b> <a class="pull-right"><span class="label label-civ">{{server.Civilians}}</span></a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Polizisten</b> <a class="pull-right"><span class="label label-cop">{{server.Cops}}</span></a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Medics</b> <a class="pull-right"><span class="label label-medic">{{server.Medics}}</span></a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Adac</b> <a class="pull-right"><span class="label label-adac">{{server.Adac}}</span></a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>IP:Port</b> <a class="pull-right">{{server.IpAddress}}:{{server.Port}}</a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Parameter</b> <a class="pull-right">{{server.StartParameters}}</a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <b>Passwort</b> <a class="pull-right">{{server.ServerPassword}}</a>
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-success pull-right btn-sm" style="margin-top: 10px"><i class="fa fa-play" aria-hidden="true"></i> Joinen</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="changelog">
                        <div class="container" ng-controller="changelogController" data-ng-init="init()">
                            <h3>ReallifeRPG Changelog</h3>
                            <hr>
                            <div class="page">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="row" id="changelogScroll" style="height: 450px;position: relative;">
                                            <div class="col-md-3">
                                                <div class="list-group">
                                                    <a class="list-group-item" ng-repeat="changelog in changelogs" href="#{{changelog.id}}">{{changelog.version}} - {{changelog.release_at}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="panel panel-primary" ng-repeat="changelog in changelogs">
                                                    <div class="panel-heading">
                                                        <span class="htop" id="{{changelog.id}}">Update {{changelog.version}}</span> <span class="pull-right">{{changelog.release_at}}</span>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div ng-if="changelog.change_mission.length > 0">
                                                            <h4>Mission</h4>
                                                            <ul>
                                                                <li ng-repeat="content in changelog.change_mission">{{content}}</li>
                                                            </ul>
                                                        </div>
                                                        <div ng-if="changelog.change_map.length > 0">
                                                            <h4>Map</h4>
                                                            <ul>
                                                                <li ng-repeat="content in changelog.change_map">{{content}}</li>
                                                            </ul>
                                                        </div>
                                                        <div ng-if="changelog.change_mod.length > 0">
                                                            <h4>Mod</h4>
                                                            <ul>
                                                                <li ng-repeat="content in changelog.change_mod">{{content}}</li>
                                                            </ul>
                                                        </div>
                                                        <code ng-if="changelog.note != ''">{{changelog.note}}</code>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="settings">
                        <div class="container" ng-controller="settingsController" data-ng-init="init()">
                            <h3>Einstellungen</h3>
                            <hr>
                            <div class="page">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="pathInput">Arma 3 Pfad</label>
                                        <div class="input-group">
                                            <input id="pathInput" class="form-control" type="text" placeholder="Kein Arma Pfad gesetzt" ng-model="ArmaPath" disabled>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" ng-click="chooseArmaPath()"><span class="glyphicon glyphicon-open-file"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).on('click', 'a[href^="htt"]', function (event) {
        if (this.href != "") {
            event.preventDefault();
            shell.openExternal(this.href);
        }
    });
</script>
</html>
