#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 260px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
}


.tabcontrol .tabs li a {
    color: #FFFFFF !important;
}

.tabcontrol .tabs li a:hover {
    background-color: #1ba1e2 !important;
}
